body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

#card {
    flex:display;
    flex-direction: column;
    list-style-type: none;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}

img {
    width: 150px;
    align-self: center
}

ul {
    display: flex;
    flex-wrap: wrap;
}